{:pom {:group-id "org.danielsz",
       :artifact-id "meyvn",
       :version "1.0.2",
       :name "Better builds for Clojure"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
